.about {

	.intro {
		@include grid-column($columns:6.55, $offset:2.75);
		padding-bottom: rem-calc(50);

		@media #{$xlarge-up}{
			@include grid-column($columns:5.4, $offset:3.5);
		}

		@media #{$medium-only}{
			@include grid-column($columns:10, $offset:1);
		}

		@media #{$small-only}{
			@include grid-column($columns:11.6, $offset:.3);
			//text-align: center;
			padding-bottom: rem-calc(40);
		}

		& h3 {
			@include grid-column($columns:12);
			padding-bottom: rem-calc(12);
			font-family: $font-family-serif;
			font-weight: 600;
			text-align: center;

			@media #{$small-only}{
				@include grid-column($columns:11.9, $offset:0);
				padding-top: rem-calc(10);
				padding-bottom: rem-calc(20);
				font-size: rem-calc(26);
				text-align: center;
			}
		}
	}

	.container {
		@include grid-column($columns:7.6, $offset:4.2);
		padding-top: rem-calc(154);
		padding-bottom: rem-calc(30);

		@media #{$xlarge-up}{
			@include grid-column($columns:5, $offset:4.7);
			padding-bottom: 1.5%;
		}

		@media #{$medium-only}{
			@include grid-column($columns:5, $offset:3.1);
			padding-bottom: 6%;
		}

		@media #{$small-only}{
			@include grid-column($columns:8, $offset:1.8);
			padding-bottom: rem-calc(20);
		}
	}


	.container > a {
		margin-right: 25px;
		@media #{$small-only}{
			margin-right: 2.2%;
		}
	}

	img {
		max-width: 100%;
		height: auto;
		transition: all .1s ease-in-out;
		&:hover {opacity:(0.9);}
	}

	p {
		padding-bottom: rem-calc(6);
		@media #{$small-only}{
			font-size: rem-calc(15);
			padding-bottom: rem-calc(7);
		}
	}
}
