.essays {

	.photo-strip__text {
		@include grid-column($columns:7, $offset:2.5);
		padding-top: rem-calc(154);

		@media #{$medium-only}{
			@include grid-column($columns:12, $offset:0);
		}

		@media #{$small-only}{
			@include grid-column($columns:12, $offset:0);
			padding-top: rem-calc(120);
		}

		& h2 {
			@include grid-column($columns:12);
			letter-spacing: 2px;
			text-align: center;
			font-size: 1.625rem;
			font-family: $font-family-serif;

			@media #{$small-only}{
				@include grid-column($columns:12, $offset:0);
				padding-top: rem-calc(14);
				font-size: rem-calc(22);
				text-align: center;
			}
		}
	}
	
	.body{
		@include grid-column($columns:7, $offset:2.5);
		padding: rem-calc(20 0 20);

		p:first-child:first-letter {
			font-family: 'Times New Roman';
			font-weight: $font-weight-bold;
			font-size: rem-calc(50);
			font-weight: bold;
			margin: 0.205em 0.05em 0 0;
		}

		p:first-child:first-line {
			line-height: 0.95;
		}

		p {
			font-size: rem-calc(17);
			line-height: rem-calc(29);
			@media screen and (max-width: $small-breakpoint){
				font-size: rem-calc(15);
				line-height: rem-calc(25);
			}
		}

		@media screen and (max-width: $medium-breakpoint){
			@include grid-column($columns:10, $offset:1);
		}

		@media screen and (max-width: $small-breakpoint){
			@include grid-column($columns:11, $offset:0.5);
			padding: rem-calc(20 0 20);
		}
	}
}

