.works {

	.welcome {
		@include grid-column($columns:7, $offset:2.5);
		padding-top: rem-calc(140);
		padding-bottom: rem-calc(50);

		@media #{$xlarge-up}{
			@include grid-column($columns:6, $offset:3);
		}

		@media #{$medium-only}{
			@include grid-column($columns:10, $offset:1);
		}

		@media #{$small-only}{
			@include grid-column($columns:11, $offset:.5);
			padding-top: rem-calc(106);
		}

		& h3 {
			@include grid-column($columns:12);
			letter-spacing: .7px;
			text-align: center;
			padding-bottom: rem-calc(12);
			font-family: $font-family-serif;
			font-weight: 600;

			@media #{$small-only}{
				@include grid-column($columns:12, $offset:0);
				padding-top: rem-calc(30);
				padding-bottom: rem-calc(16);
				font-size: rem-calc(22);
				text-align: center;
			}
		}

		& h4 {	
			font-family: $font-family-serif;
		}

		& h6 {
			@include grid-column($columns:11.7, $offset:0);
			//font-family: $font-family-serif;
			font-size: rem-calc(17);
			font-style: italic;
			font-weight: 300;
			letter-spacing: rem-calc(.3);
			line-height: rem-calc(21);

			@media #{$small-only}{
				@include grid-column($columns:12, $offset:0);
				font-size: rem-calc(13.5);
				letter-spacing: rem-calc(.2);
			}
		}

		& p {
			@media #{$small-only}{
				font-size: rem-calc(15);
			}
		}
	}

	.text {
		@include grid-column($columns:7, $offset:2.5);
		padding-top: rem-calc(10);
		padding-bottom: rem-calc(30);

		@media #{$xlarge-up}{
			@include grid-column($columns:5.3, $offset:3.2);
		}

		@media #{$medium-only}{
			@include grid-column($columns:9, $offset:1);
		}

		@media #{$small-only}{
			@include grid-column($columns:11, $offset:.5);
			padding-top: rem-calc(20);
			padding-bottom: rem-calc(15);
		}

		& h2 {
			@include grid-column($columns:12);
			letter-spacing: 6px;
			text-align: center;
			padding-bottom: rem-calc(34);
			font-family: $font-family-serif;

			@media #{$small-only}{
				@include grid-column($columns:12, $offset:0);
				padding-top: rem-calc(14);
				padding-bottom: rem-calc(6);
				font-size: rem-calc(26);
				text-align: center;
			}
		}

		& h5 {
			font-family: $font-family-serif;
			font-size: rem-calc(19);
			padding-bottom: rem-calc(3);
			@media #{$small-only}{
				font-size: rem-calc(18);
				letter-spacing: rem-calc(1);
				padding-bottom: rem-calc(2);
			}
		}

		& h6 {	
			font-family: $font-family-serif;
			font-size: rem-calc(17);
			padding-top: rem-calc(6);
			padding-bottom: rem-calc(3);
			font-weight: 600;
		}

		& p {
			@media #{$small-only}{
				font-size: rem-calc(14);
			}
		}

		#shrink {
			padding-top: rem-calc(0);
			padding-bottom: rem-calc(0);
		}

		#desc{
			float: left;
			font-size: rem-calc(13);
			padding-top: rem-calc(8);
		}

		& span {
			font-size: rem-calc(15);
			padding-right: 7.5%;
			font-style: italic;

			@media #{$medium-only}{
				padding-right: 2%;
			}

			@media #{$small-only}{
				font-size: rem-calc(13);
				padding-right: 4%;
			}

			strong {
				font-style: normal;
				font-weight: 600;
			}
		}

		#end {
			padding-right: 0.5%;
			float: right;

			@media #{$medium-only}{
			padding-right: 0%;
			}
			@media #{$small-only}{
				float: left;
			}
		}
	}


	.container {
		@include grid-column($columns:8.7, $offset:2.5);
		padding-bottom: rem-calc(0);

		@media #{$xlarge-up}{
			@include grid-column($columns:6.5, $offset:3.2);
		}

		@media #{$medium-only}{
			@include grid-column($columns:10, $offset:1);
		}

		@media #{$small-only}{
			@include grid-column($columns:11, $offset:.5);
			padding-bottom: rem-calc(40);
		}

		& h5 {	
			font-family: $font-family-serif;
			font-size: rem-calc(19);
			padding-bottom: rem-calc(12);
		}
	}

	#x {
		@include grid-column($columns:12, $offset:0);
		min-width: 100%;
		padding-bottom: rem-calc(120);

		@media #{$small-only}{
			padding-bottom: rem-calc(20);
		}

		@media #{$xlarge-only}{
			@include grid-column($columns:11, $offset:.8);
			min-width: 0%;
			padding-bottom: rem-calc(80);
		}
	}

	#xx {
		@include grid-column($columns:12, $offset:0);
		min-width: 100%;
		padding-bottom: rem-calc(120);

		@media #{$small-only}{
			padding-bottom: rem-calc(20);
		}
	}

	#s {
		@include grid-column($columns:5, $offset:3.3);
		@media #{$xlarge-only}{
			@include grid-column($columns:4, $offset:4);
		}
	}

	#x img {
		&:hover {opacity:(1);}
	}

	#minimize {
		@media #{$small-only}{
			padding-bottom: 0;
		}
	}

	.container > a {
		margin-right: 25px;
		@media #{$small-only}{
			margin-right: 2.2%;
		}
	}

	img {
		max-width: 100%;
		height: auto;
		transition: all .1s ease-in-out;
		&:hover {opacity:(0.9);}
		@media #{$medium-only}{
			max-width: 45%;
			height: auto;
		}
		@media #{$small-only}{
			max-width: 47%;
			height: auto;
			margin-bottom: 3%;
		}
	}

	#full {
		@media #{$medium-only}{
			max-width: 100% !important;
			height: auto !important;
			margin-bottom: 3%;
		}
		@media #{$small-only}{
			max-width: 97.5% !important;
			height: auto !important;
			margin-bottom: 3%;
		}
	}

	#minimize {
		margin-bottom: 1%;
		@media #{$xlarge-only}{
			margin-bottom:0.4%;
		}
		@media #{$small-only}{
			margin-bottom: 0%;
		}
	}

	.desc {
		@include grid-column($columns:10, $offset:.5);
		padding-top: rem-calc(10);
		padding-bottom: rem-calc(40);

		@media #{$xlarge-only}{
			@include grid-column($columns:6, $offset:3);
		}

		@media #{$medium-only}{
			@include grid-column($columns:10, $offset:1);
		}

		@media #{$small-only}{
			@include grid-column($columns:11, $offset:0.5);
			padding-bottom: rem-calc(20);
		}


		.third {
			@include grid-column($columns:3, $offset:1);
			@media #{$small-only}{
				@include grid-column($columns:11.8, $offset:.2);
				padding-bottom: rem-calc(18);
				float: left;
			}
		}

		#one {
			padding-left: 8%;
			@media #{$small-only}{
				padding-left: 24%;
			}
		}

		#two {
			padding-left: 12%;

		}

		#three {
			padding-left: 15%;
			@media #{$small-only}{
				padding-left: 31%;
			}
		}

		#four {
			padding-left: 0%;
			@media #{$small-only}{
				padding-left: 19%;
			}
		}

		& h5 {
			@include grid-column($columns:8.4, $offset:3.6);
			font-family: $font-family-serif;
			font-size: rem-calc(16);
			font-weight: 600;
			padding-bottom: rem-calc(3);
			@media #{$small-only}{
				@include grid-column($columns:6, $offset:2.8);
				text-align: center;
				font-size: rem-calc(18);
				letter-spacing: rem-calc(1);
				padding-bottom: rem-calc(2);
			}
		}


		& p {
			font-size: rem-calc(14);
			padding-top: rem-calc(4);
			letter-spacing: rem-calc(.3);
			@media #{$small-only}{
				font-size: rem-calc(13);
				margin-bottom: rem-calc(5);
				display: inline-block;
			}

		}

		//& p {
		//	font-size: rem-calc(7);
		//}
	}

	.name {
		font-family: $font-family-sans-serif;
		font-weight: 400;
		font-size: rem-calc(20);
		letter-spacing: 0.5px;
	}


	.video-container {
		@include grid-column($columns:6.9, $offset:2.5);
		position:relative;
		padding-bottom:32%;
		padding-top:0px;
		height:0;
		overflow:hidden;
		margin-bottom: rem-calc(70);

		@media #{$small-only}{
			@include grid-column($columns:11, $offset:.5);
			padding-bottom: 57%;
			margin-bottom: rem-calc(40);
		}

		@media #{$medium-only}{
			@include grid-column($columns:8.4, $offset:1.8);
			padding-bottom: 42%;
			margin-bottom: rem-calc(40);
		}

		@media #{$xlarge-only}{
			@include grid-column($columns:5.3, $offset:3.2);
			padding-bottom: 27%;
			margin-bottom: rem-calc(40);
		}
	}

	.video-container iframe, .video-container object, .video-container embed {
		position:absolute;
		top:0;
		left:0;
		width:100%;
		height:100%;
	}



}
