.writing {


	.works {
		@include grid-column($columns:7, $offset:2.5);
		margin: rem-calc(144 0 40);

		@media #{$medium-only} {
			@include grid-column($columns:8, $offset:2);
		}

		@media #{$small-only} {
			@include grid-column($columns:11, $offset:.5);
			margin: rem-calc(120 0 36);
		}
		@media #{$xlarge-up} {
			@include grid-column($columns:6, $offset:3);
		}

		.essays {
			padding-bottom: 40%;
		}

	}

	article > img {
		max-width: 100%;
		height: auto;
		&:hover {opacity:(1);}
	}


	h3 {
		padding-top: rem-calc(10);
		font-family: $font-family-serif;
		padding-bottom: rem-calc(20);
		@media #{$small-only} {
		//float: center;
		font-size: rem-calc(26);
		text-align: center;
	}
}

dl {
	@include grid-column($columns:12, $offset:0);
	font-weight: 400;

	@media #{$medium-only} {
		@include grid-column($columns:12, $offset:0);
	}
	
	@media #{$small-only} {
		@include grid-column($columns:12, $offset:0);
	}
}

dt {
	@include grid-column($columns:5, $offset:0);
	display: block;
	font-size: rem-calc(18);
	letter-spacing: 0.5px;
	transition: all .1s ease-in-out;
	&:hover {color:#91B7C2;}
	@media #{$medium-only} {
		@include grid-column($columns:7, $offset:0);
	}
	@media #{$small-only} {
		@include grid-column($columns:12, $offset:0);
		font-size: rem-calc(19);
	}
}


dd {
	@include grid-column($columns:12, $offset:0);
	margin-bottom: (0);
	font-size: rem-calc(15);
	@media #{$small-only} {
		font-size: rem-calc(14);
	}
}

.line {
	padding-top: rem-calc(3);
	padding-left: rem-calc(28);
	line-height: 20px;
	font-size: rem-calc(14);
	font-style: italic;
	font-weight: 300;
	@media #{$small-only} {
		font-size: rem-calc(13);
		line-height: 19px;
		padding-left: rem-calc(10);
	}
}

a {
	color: $dark-gray;
	transition: all 200ms;

	&:hover {
            //background: $keppel-tint;
            color: $mid-gray;
        }
    }

}