---
title: me!
---
<div class="about">

	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/troy-4.jpg"><img src="/images/normal/troy-4.jpg"></a>
	</div>

	<div class="intro">
		<h3>bringing concepts to fruition through thoughtful design and a clarity of process</h3>
		<p>
			I have just graduated Cornell University, B.S. in Design + Environmental Analysis, minor in Architecture. I am currently seeking full-time design opportunities for post-grad 2019.
		</p>
		<p>
			My past experience includes spatial/installation design work with Dutch brand agency <a href='https://www.edhv.nl/portfolio/' target="_blank">Edhv</a>, product design with <a href='https://universalsonarmount.com/' target="_blank">Universal Sonar Mount</a>, and user experience design at Salesforce.
		</p>

		<p>
			My focus is in industrial design, though I have experience with UX design, architecture, and branding, so I do like to find wholesome integrations between disciplines when possible. I am most passionate about projects that take a concept and completely, thoroughly, and methodically carry it through to a final design.
		</p>

		<p> I can be reached at <strong>tcm87@cornell.edu</strong> </p>
	</div>


</div>
