.site-footer {
  background: $orange;
  width:100%;
  max-height: rem-calc(140);
  display: inline-block;
  @media #{$medium-only} {
    margin-bottom: -6%;
  }
  @media #{$small-only} {
    //max-height: rem-calc(120);
    margin-bottom: -5%;
  }


  &__copyright {
    @include grid-column($columns: 12);
    padding: rem-calc(12 0 50); 
    text-align: center;
    float: none;

    @media #{$medium-only} {
      @include grid-column($columns:8, $offset:2);
    }

    @media #{$small-only} {
      @include grid-column($columns:12, $offset:0);
      text-align: center;
      padding: rem-calc(6 0 40);
    }


    span {
      display: inline;
      font-size: rem-calc(12);
      letter-spacing: .5px;
      font-weight: $font-weight-light;
      color: $dark-gray;
      padding: rem-calc(0 10);

    }
  }

  .link__footer {
    @include grid-column($columns: 6, $offset: 5.58);  //with instagram, $offset: 5.41
    padding-bottom: rem-calc(10);

    @media #{$medium-only} {
      @include grid-column($columns: 6, $offset: 5.4);
    }

    @media #{$small-only} {
      @include grid-column($columns: 4, $offset: 4.8);
    }
  }

  .footer__image {
    max-width: rem-calc(24);
    margin-left: 2%;
    float: left;
    margin-bottom:0;

    @media #{$small-only} {
      max-width: rem-calc(24);
      margin-left: 7%;
    }
  }
}