.site-header {
  width: 100%;
  height: 80px;
  background: $teal;
  transition: all .3s ease-in-out;
  z-index: 1;
  top: 0;
  position: fixed;

  @media #{$medium-up} {
    height: 70px;
    position: fixed;
    z-index: 1;
  }

  @media #{$large-up} {
    height: 74px;
  }

  @media #{$xlarge-up} {
    height: 74px;
  }
}

.shrink {
  height: 46px;
  transition: all .3s ease-in-out;
  @media #{$medium-only} {
    height: 57px;
  }
  @media #{$small-only} {
    height: 32px;
  }

  .logo {
   transition: all .3s ease-in-out;
   height: rem-calc(46);
   @media #{$medium-only} {
    height: 56px;
    @include grid-column($offset:1.8);
  }

  @media #{$xlarge-only} {
    transition: all .3s ease-in-out;
    @include grid-column($offset:4);
  }

  @media #{$small-only} {
    @include grid-column($offset:4.2);
    height: 30px;
  }
}

.logo__image {
  max-height: rem-calc(48);
  margin-left: 2%;
  transition: all .3s ease-in-out;

  @media #{$xlarge-up} {
    max-height: rem-calc(40);
    margin-top: rem-calc(6);
  }
  @media #{$medium-only} {
    max-height: rem-calc(46);
    margin-top: rem-calc(6);
  }
  @media #{$small-only} {
    max-height: rem-calc(34);
    margin-top: .4%;
  }
}

.logo__1 {
  margin-top: .5%;
  max-height: rem-calc(35);
  transition: all .3s ease-in-out;
  @media #{$medium-only} {
  margin-top:1.5%;
  }
  @media #{$small-only} {
    font-size: rem-calc(18);
    margin-top:1.5%;
    letter-spacing: rem-calc(7);
  }
}

.main-nav {
 transition: all .3s ease-in-out;
}

.mobile-buttons {
 transition: all .3s ease-in-out;
}

.site-header {
 transition: all .3s ease-in-out;
}
}


.logo {
  @include grid-column($columns:4.5, $offset:3.6);
  height: rem-calc(80);

  @media #{$medium-only} {
    @include grid-column($columns:2.3, $offset:2);
    height: rem-calc(74);
  }

  @media #{$large-only} {
    @include grid-column($columns:1.2, $offset:3.2);
    height: rem-calc(74);
  }

  @media #{$xlarge-up} {
    @include grid-column($columns:1.2, $offset:3.85);
    height: rem-calc(74);
  }
}

.logo__image {
  position: absolute;
  max-height: rem-calc(66);
  padding-left: 2.2%;
  margin-top: rem-calc(5);
  float: left;
  transition: all .3s ease-in-out;
  @media #{$medium-only} {
    margin-top: rem-calc(8);
    max-height: rem-calc(54);
    padding-left: 3.2%;
  }
  @media #{$small-only} {
    //@include grid-column($columns: 1.7, $offset:0.54);
    max-height: rem-calc(55);
    padding-left: rem-calc(16);
    margin-top: rem-calc(16);
  }
  @media #{$xlarge-only} {
    @include grid-column($offset:.2);
  }
}

.logo__1 {
 @include grid-column($columns:1.7, $offset:0.25);
 margin-top: 2.2%;
 font-size: rem-calc(30);
 font-family: 'Hind', sans-serif;
 font-weight: 700;
 letter-spacing: rem-calc(1.5);
 color: $off-white;
 transition: all .3s ease-in-out;

 @media #{$medium-only} {
  @include grid-column($columns:2.7, $offset:0.22);
  font-size: rem-calc(28);
  margin-top: 2.5%;
}
@media #{$small-only} {
  display: none;
  //@include grid-column($columns:3.5, $offset:0.25);
  //margin-top:rem-calc(26);
  //font-size: rem-calc(24);
  //letter-spacing: rem-calc(2);
}
@media #{$xlarge-only} {
  @include grid-column($columns:1.25, $offset:0.25);
  margin-top: 1.5%;
}
}


.main-nav {
 transition: all .3s ease-in-out;
 display: none;


 @media #{$medium-up} {
  @include grid-column($columns:12, $offset:0);
  transition: all .3s ease-in-out;
  background-color: $white;
  float: left;
  display: block;
  height: rem-calc(25);
}

@media #{$xlarge-up} {
  @include grid-column($columns:10, $offset:0);
  transition: all .3s ease-in-out;
}

&__menu { 
  transition: all .3s ease-in-out;
  list-style: none;
  float: left;
  margin-left: rem-calc(0);

  @media #{$medium-only} {
    @include grid-column($columns:9, $offset:.15);

  }

  > li { 
    float: left;
    transition: all .3s ease-in-out;
        // margin: rem-calc(0 6);



        &:first-child {
          //width: rem-calc(98);
          width: rem-calc(140);
          

        }


        > a {
          display: block;
          height: 100%;
          width: 100%;
          padding: rem-calc(3 22 2 30); //second number 22, fourth number is 23
          font-family: $font-family-serif;
          font-size: rem-calc(13);
          line-height: rem-calc(20);
          letter-spacing: rem-calc(2);
          text-align: center;
          color: $mid-gray;
          transition: all 300ms;


          &:hover {
            background: $teal;
            color: $off-white;
          }


        }
      }
    }
  }


  .mobile-buttons {
    width: 100%;
    padding-left: 25%;
    background: $white;
    transition: all .3s ease-in-out;
    overflow: auto;
    display: block;

    @media #{$medium-up} {
      display: none;
    }

    .mobile-button {
      font-size: 13px;
      float: left;
      width: 35%;
      text-align: center;
      transition: all 300ms;
      font-family: $font-family-serif;
      letter-spacing: rem-calc(2);
      padding: rem-calc(7 0 5 0);
      color: $mid-gray;

      &:hover {
        background: $keppel-tint;
        color: $mid-gray;
      }
    }
  }
