---
title: guns!
---
<div class="works">

	<div class="welcome">
		<h3>Guns, Conversation, Post-Truth Era</h3>
		<h6>
			A capstone to my Cornell education, this project aims to create dialogue between gun-control and gun-rights groups. Through rigorous research, testing, and design, this project prompts viewers to consider, "what is my role in this American gun story?" 
		</h6>
	</div>

	<div class="desc">
		<div class="third">
			<h5>duration</h5>
			<p id="three">Fall 2018 - Present</p>
		</div>
		<div class="third">
			<h5>role / skills</h5>
			<p>Independent Project | Conceptual Design, Design Research, Human Computer Interaction, Fabrication. Coding Help from Sonia Appasamy</p>
		</div>
		<div class="third">
			<h5>tools</h5>
			<p>Rhino, 3D Printer, Arduino & Related Software, Small Scale Pneumatics</p>
		</div>
	</div>

	<div class="container" id="x">
		<img id="full" img src="/images/xnormal/ar-long.png"></a>
	</div>

	<div class="text">
		<h5>Project Summary</h5>
		<p>
			The project aims to make guns tangible to those who know little about them— not just violent abstractions but as mechanical devices. The physical force required, the precision, the coldness of the machined steel against the tip of your index finger.
		</p>
		<p>
			The hope is for those who know little about guns to go forth with more confidence in their research and understanding. I hope they will be better equipped to talk about gun control with the 100 million Americans who owns guns, so that honest engagement between gun-control and gun-rights groups can happen. And for gun owners, I hope to question whether semi-automatic rifles have a place in American society; whether their benefit is worth their risk.
		</p>
	</div>

	<div class="container" id="minimize">
		<h5>A Gun that Tells a Story</h5>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-hold.jpg"><img id="full" img src="/images/normal/ar15-normal/ar-hold.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-vert.jpg"><img src="/images/normal/ar15-normal/ar-vert.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-scope.jpg"><img src="/images/normal/ar15-normal/ar-scope.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-frame.png"><img id="full" img src="/images/normal/ar15-normal/ar-frame.png"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-swing.jpg"><img src="/images/normal/ar15-normal/ar-swing.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-mirror.jpg"><img src="/images/normal/ar15-normal/ar-mirror.jpg"></a>
	</div>

	<div class="text">
		<p>Melding gun components, a pneumatic system, and embedded electronics, the physical device carries out a series of sequential actions to tell a story for both sides of the gun debate.
		</p>
	</div>


	<div class="container" id="x">
		<img id="full" img src="/images/large/ar15-large/ar-diagram.jpg">
	</div>

	<div class="container" id="minimize">
		<h5>RAW Expo; Next Steps</h5>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-raw.jpg"><img src="/images/normal/ar15-normal/ar-raw.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-raw2.jpg"><img src="/images/normal/ar15-normal/ar-raw2.jpg"></a>
	</div>

	<div class="text">
		<p>After a successful showing at RAW EXPO, I plan on bringing the project to greater groups of diverse people. I gained valuable feedback at the exhibition and am working on a redesign that further emphasizes the experiential qualities of the device.
		</p>
	</div>

	<div class="container">
		<h5>Abridged Process</h5>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/diagram.jpg"><img src="/images/normal/ar15-normal/diagram.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/recoil.gif"><img src="/images/normal/ar15-normal/recoil.gif"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/range.jpg"><img src="/images/normal/ar15-normal/range.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/scope.jpg"><img src="/images/normal/ar15-normal/scope.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/wall1.jpg"><img src="/images/normal/ar15-normal/wall1.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/wall2.jpg"><img src="/images/normal/ar15-normal/wall2.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-r1.jpg"><img src="/images/normal/ar15-normal/ar-r1.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-piston.jpg"><img src="/images/normal/ar15-normal/ar-piston.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-dims.jpg"><img src="/images/normal/ar15-normal/ar-dims.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-brass.jpg"><img src="/images/normal/ar15-normal/ar-brass.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/scope1.jpg"><img src="/images/normal/ar15-normal/scope1.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/scope2.jpg"><img src="/images/normal/ar15-normal/scope2.jpg"></a>	
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-wiring.jpg"><img src="/images/normal/ar15-normal/ar-wiring.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-print.jpg"><img src="/images/normal/ar15-normal/ar-print.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-coding.jpg"><img src="/images/normal/ar15-normal/ar-coding.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ar15-large/ar-wiring2.jpg"><img src="/images/normal/ar15-normal/ar-wiring2.jpg"></a>
	</div>

</div>
