---
title: architecture
---
<div class="works">


	<div class="welcome">
		<h3>Where pixel perfect matters.</h3>
		<p>
			I almost went to formal architecture school instead of the multidisciplinary design program at Cornell. While in Ithaca, I have been able to strike a balance between digital and architectural design through Design + Environmental Analysis and my minor in Architecture. 
		</p>
		<p>
			Below is a sample of my architecture work.
		</p>
	</div>

	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/flaine-1.jpg"><img id="full" src="/images/normal/flaine-1.jpg"></a>
	</div>
	<div class="desc">
		<p>For the final project of DEA 1150 Design Graphics & Visualization, my partner and I were tasked to create a poster showcasing an exemplar of modern architecture that would touch upon our modeling and visualization skills. We chose Pavillon d’Accueil de Flaine, a visitor center designed by R Architecture in 2013 for a French ski resort because of its distinctive aesthetic and use of materials. I modeled the building using Google Sketchup, V-Ray, Autocad, Photoshop, and Indesign.
		</p>
	</div>

	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/next-4.jpg"><img id="full" src="/images/normal/next-4.jpg"></a>
	</div>

	<div class="desc">
		<p>
			A fictitious architecture firm, NEXT, has decided to relocate to the 32nd floor of USC Tower in downtown Los Angeles. The 11,300 SQF space will accommodate 35-45 employees. Its design must embrace collaborative and flexible ways of working in order to facilitate the innovation of tomorrow.</p>

			<p>
				As the project for DEA 3301 UX Design Studio, I was tasked with researching trends and challenges facing the creative workplace. I then created the ideal office concept and design through evidence-based design and the programming information. Finally, I created a presentation package explaining the process and containing construction documents and renderings for the fictitious client. 
			</p>
		</div>
		
		<div class="desc">
			<a data-fancybox="gallery" data-caption="" href="/images/large/next-5.jpg"><img id="full" src="/images/normal/next-5.jpg"></a>
			<a data-fancybox="gallery" data-caption="" href="/images/large/next-6.jpg"><img id="full" src="/images/normal/next-6.jpg"></a>
		</div>

			<div class="container">
				<a data-fancybox="gallery" data-caption="" href="/images/large/next-1.jpg"><img id="full" src="/images/normal/next-1.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/next-2.jpg"><img id="full" src="/images/normal/next-2.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/next-7.jpg"><img id="full" src="/images/normal/next-7.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/next-3.jpg"><img id="full" src="/images/normal/next-3.jpg"></a>
			</div>

		</div>