---
title: furniture
---
<div class="works">


	<div class="welcome">
		<h3>Custom furniture.</h3>
		<p>
			I love everything about furniture- the materiality, the scale, and the ergonomic component that is required by good design. And the end product which is both everyday functional and beautiful.
		</p>

		<p>
			Below are a few of my favorites.
		</p>
	</div>

			<div class="container">
				<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/entry-1.jpg"><img src="/images/normal/furniture-normal/entry-1.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/entry-3.jpg"><img src="/images/normal/furniture-normal/entry-3.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/entry-4.jpg"><img src="/images/normal/furniture-normal/entry-4.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/entry-5.jpg"><img src="/images/normal/furniture-normal/entry-5.jpg"></a>
			</div>

			<div class="desc">
				<p>
					The lasercut base dictates the type of objects placed above. The table legs create compound angles as they span outward from the center of the table. I used a milling machine and TIG welder to achieve the exact angles and precise welds necessary for the stability of the table.
				</p>
			</div>

			<div class="container">
				<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/bench-1.jpg"><img src="/images/normal/furniture-normal/bench-1.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/bench-2.jpg"><img src="/images/normal/furniture-normal/bench-2.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/bench-3.jpg"><img src="/images/normal/furniture-normal/bench-3.jpg"></a>
				<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/bench-4.jpg"><img src="/images/normal/furniture-normal/bench-4.jpg"></a>
			</div>

			<div class="desc">
				<p>
					Central ascension from the intersection of mirrored angles forms the basketweave pattern.
				</p>
			</div>

		</div>