---
title: graphic design
---
<div class="works">


	<div class="welcome">
		<h3>Graphic design.</h3>
	</div>


	<div class="container">
		<h4>Cornell Cooperative Extension</h4>
		<a data-fancybox="gallery" data-caption="" href="/images/large/cce-1.jpg"><img id="full" src="/images/normal/cce-1.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/cce-2.jpg"><img id="full" src="/images/normal/cce-2.jpg"></a>
	</div>

	<div class="desc">
		<p>I designed a banner and series of headers for New York State Southern Tier’s Clean Energy Communities (CEC) quarterly newsletter. These email newsletters inform eight counties and their municipalities about the sustainability and energy efficiency initiatives being performed in the Southern Tier. 
		</p>
	</div>

	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/ten-1.png"><img src="/images/normal/ten-1.png"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ten-2.png"><img src="/images/normal/ten-2.png"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ten-3.png"><img src="/images/normal/ten-3.png"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/ten-4.png"><img src="/images/normal/ten-4.png"></a>
	</div>

	<div class="desc">
		<p>Logo designs for Tier Energy Network (TEN), a regional network of industry, government, community, and higher education with expertise and interest in energy conservation. My logo explorations attempt to reconcile the sustainability and partnership-focus of the organization.
		</p>
	</div>



	<div class="container">
		<h4>Cornell University Sustainable Design</h4>
		<p>I designed logos for three subteams on Cornell University Sustainable Design. </p>
		<a data-fancybox="gallery" data-caption="" href="/images/large/logos-1.png"><img src="/images/normal/logos-1.png"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/logos-2.png"><img src="/images/normal/logos-2.png"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/logos-3.png"><img src="/images/normal/logos-3.png"></a>
	</div>

	<div class="desc">
		<p>
			For Windows, the muntins of the window are arranged in the same configuration as those in Olin Hall, the first building the team analyzed. 
		</p>

		<p>Smart Village India's goal was to design a sustainable water system for a resource-limited village in the Chikkaballpur district of India. The logo represents this mission: the lines represent irrigation lines as well as a brain.
		</p>

		<p>
			For Currents, the cyclical shape evokes a sense of renewability and flow, words that are at the core of the team's mission.
		</p>
	</div>


	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/bottle.jpg"><img src="/images/normal/bottle.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/beanie.jpg"><img src="/images/normal/beanie.jpg"></a>
	</div>

	<div class="desc">
		<p>
			As a side project, I designed team merchandise. The water bottle design was based off trendy craft brew labels. For the beanie, I wanted to focus on materiality by speccing black embroidery over wool appliqué. 
		</p>
	</div>

	<div class="container">
		<h4>Salesforce</h4>

		<a data-fancybox="gallery" data-caption="" href="/images/large/anchor.jpg"><img id="full" src="/images/normal/anchor.jpg"></a>
	</div>
	<div class="desc">
		<p>
			For Salesforce's Tech Ops logo redesign competition. The anchors represent the grounding nature of Tech Op's work, and the anchor rings form the Salesforce cloud.
		</p>
	</div>

</div>