---
title: intunity
---
<div class="works">


	<div class="welcome">
		<h3>A Passion Project, Explored</h3>
		<h6>
			What began as a visual redesign of a music-sharing website evolved into a rehashing of the entire concept. UX is not my focus, but I appreciate the user-centered design approach and fast pace at which design changes can be implemented. 
		</h6>
	</div>

	<div class="desc">
		<div class="third">
			<h5>duration</h5>
			<p id="four">Spring 2016</p>
		</div>
		<div class="third">
			<h5>role / skills</h5>
			<p>Independent Project; User Research, UX Design, Visual Design</p>
		</div>
		<div class="third">
			<h5>tools</h5>
			<p id="three">Sketch, Invision</p>
		</div>
	</div>


	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-hq.jpg"><img id="full" src="/images/normal/intunity-hq.jpg"></a>
	</div>

	<div class="text">
		<h5>the problem</h5>
		<p>
			The problem is not music. I love listening to all sorts of music genres, whether it is the comforting strum of guitar or mind-numbing bass of who-knows-what. Music can facilitate my mood and inspire me to appreciate the humdrum buzz of the world around me. Music is about emotion through the ether of rhythm and harmony.
		</p>
		<p>
			The problem is the current way music is shared. The popular methods of music dissemination do not allow me to express what a particular song means to me — the emphasis is on the artist and song, not my relationship to it.
		</p>
		<h5>the goal</h5>
		<p>
			Design a website that puts musical connection first — sharing music with those I care about.
		</p>
		<h5>market research</h5>
		<p>
			Music streaming is a big business. Platforms such as Youtube and Spotify allow instant access to a plethora of music. Music-search websites such as Pandora and always-advancing algorithms allow someone to find similar songs to ones they like.
		</p>
		<p>
			Soundcloud is a personal favorite for finding new music. I am able to subscribe to music curators who repost favorite tracks. I know a friend who gained over 200k plays on one of his songs through Soundcloud — showing you don’t have to be a big name to get your music out there and listened to. However, Soundcloud's comments section is an afterthought — just a few tiny words that buzz by as the song plays.
		</p>
		<p>
			I’ve found that the easiest way of sharing music with my friends is to post a link of the song on my Facebook wall. However, the entire post is often lost under the myriad of random other content on Facebook (cough, cough, memes).
		</p>
	</div>

	<div class="container" id="s">
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-fb.png"><img id="full" src="/images/normal/intunity-fb.png"></a>
	</div>

	<div class="text">
		<h5>brainstorming</h5>
		<p>My website would combine the music-first experience of Soundcloud with the sociability of Instagram. I also thought of separate features such as trending songs by location and the possibility of compiling party playlists — but those are not core features, and they can wait.
		</p>
	</div>

	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-1.jpg"><img src="/images/normal/intunity-1.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-2.jpg"><img src="/images/normal/intunity-2.jpg"></a>
	</div>

	<div class="text">
		<h6>key insights</h6>
		<ul>
			<li>focus on musical experiences</li>
			<li>some form of connection (comments, reactions, etc) that is <strong>prominent</strong></li>
			<li>minimal distractions — no superficial features</li>
		</ul>
		<h5>medium fidelity explorations</h5>
	</div>

	<div class="container" id="s">
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-3.jpg"><img src="/images/normal/intunity-3.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-4.jpg"><img src="/images/normal/intunity-4.jpg"></a>
	</div>

	<div class="text">
		<h5>high fidelity module</h5>
	</div>

	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-5.jpg"><img id="full" src="/images/normal/intunity-5.jpg"></a>
	</div>

	<div class="text">
		<h5>back to the drawing board…</h5>
		<p>
			After some quality critique, I realized that the current song module does not emphasize musical connection. Instead, the song and album cover is most prominent.
		</p>
		<p>
			How could I return the focus to the musical experience? By organizing the content in the opposite fashion. So I shifted the focus from the song to the comments. I also realized that the album cover doesn’t mean a whole lot to most people, so instead I replaced it with a visual representation of the emotional quality of the song. The user can choose from a variety of emotional genres such as “rainy mood,” “chill,” or “head-nod.” These icons and matching colors become the visual representation of the song. They give the listener a hint of what they are about to listen to, regardless of whether or not they know of the artist. This also prevents the listener from skipping to songs they are familiar with, because the artist and song are not so prominent within the module.
		</p>
	</div>

	<div class="container" id="s">
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-6.jpg"><img id="full" src="/images/normal/intunity-6.jpg"></a>
	</div>

	<div class="text">
		<h5>onto the overall page structure</h5>
		<p>
			The "5 new journeys" at the top means that there are 5 new posts since the last user login.
		</p>
	</div>

	<div class="container" id="s">
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-7.jpg"><img id="full" src="/images/normal/intunity-7.jpg"></a>
	</div>

	<div class="text">
		<h5>another round of feedback</h5>
		<p>
			After another round of feedback, I found there were some organizational issues with the song modules. It appeared that the poster’s comment was the title of the song, which can be disorienting if the title appears to be “love this song!” I rearranged the header section of the song module to put the person’s name first, then their comment.
		</p>
		<p>The use of color was too intense and provided too strong of an emphasis on the emotion and the buttons in each module. I decided to tone this down and instead use color to highlight the leading comment. There was also not a strong visual indicator on how to select the songs. I envisioned the whole module to be clickable, but that is not clear at first glance. Other critiques involved the crowdedness of the module — I should spread out the information and make clear what I want to be clear.
		</p>
		<p>
			My revisions and more can be seen on my final mockups:
		</p>
	</div>

	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-hq.jpg"><img id="full" src="/images/normal/intunity-hq.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/intunity-shotgun.png"><img id="full" src="/images/normal/intunity-shotgun.png"></a>
	</div>

	<div class="text">
		<h5>steps forward</h5>
		<p>
			This was my first case study. I plan on returning to Intunity and the core idea behind it, to incorporate what I've learned about UX and visual design. Stay tuned. 
		</p>
	</div>

</div>