---
title: lux
---
<div class="works">

	<div class="welcome">
		<h3>Lux Lounge Design</h3>
		<h6>
			A lounge concept for a modern student housing complex in Ithaca, New York. The design facilitates student activities in novel and elegant ways.
		</div>

		<div class="desc">
			<div class="third">
				<h5>Duration</h5>
				<p id="three">January 2018 / 3 Weeks</p>
			</div>
			<div class="third">
				<h5>Role / Skills</h5>
				<p>Project with Reishan McIntosh | Interior Design, CAD, Rendering</p>
			</div>
			<div class="third">
				<h5>Tools</h5>
				<p id="one">Rhino, V-Ray, Photoshop</p>
			</div>
		</div>

		<div class="container" id="x">
			<img id="full" img src="/images/xnormal/titanium-cover.jpg"></a>
		</div>

		<div class="text">
			<h5>Introduction</h5>
			<p>
				The lounge design was part of an interior design competition for a high-end student apartment complex in Ithaca, NY. Reishan McIntosh and I collaborated on the project.
			</p>
			<p>
				Our design aims to accomodate for the range of student activities in a multipurpose lounge. The design details 
			</p>
		</div>

		<div class="text">
			<h5>Research</h5>
			<p>
				To frame our reference, we visited student housing-- dorms, apartments, and Greek Life houses to see how the common areas are used. We talked with users of these spaces and observed the space in use to gain a proper understanding.
			</p>
		</div>

		<div class="container">
			<a data-fancybox="gallery" data-caption="" href="/images/large/frat.jpg"><img src="/images/normal/frat.jpg"></a>
			<a data-fancybox="gallery" data-caption="" href="/images/large/dinner.jpg"><img src="/images/normal/dinner.jpg"></a>
		</div>

		<div class="text">
			<h5>Ideation</h5>
			<p>
			</p>
			<p>
			</p>
		</div>

		<div class="text">
			<h5>Design Features</h5>
			<p>
				The wooden ceiling slats visually divide the lounge, following the room contours. As you walk through the lounge, the ceiling changes dimension and visual weight. Each view offers a new perspective.
			</p>
			<p>
			</p>
		</div>

	</div>
