---
title: titanium!
---
<div class="works">

	<div class="welcome">
		<h3>See It for What it Could Be</h3>
		<h6>
			Years ago I bought a broken bicycle off craigslist, using all the parts except the cracked titanium frame, which sat in my shed for the next few years. Rather than see the frame collect dust, I aimed to reinvent it into something totally anew.
		</h6>
	</div>

	<div class="desc">
		<div class="third">
			<h5>duration</h5>
			<p id="three">Aug 2016 / 3 weeks</p>
		</div>
		<div class="third">
			<h5>role / skills</h5>
			<p>Independent Project | Furniture Design, Fabrication, TIG Welding</p>
		</div>
		<div class="third">
			<h5>tools</h5>
			<p>Mill, Lathe, TIG Welder, AutoCAD (waterjet glass top)</p>
		</div>
	</div>

	<div class="container" id="x">
		<img id="full" img src="/images/xnormal/titanium-cover.jpg"></a>
	</div>


	<div class="container">
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-1.jpg"><img src="/images/normal/furniture-normal/ti-1.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-2.jpg"><img src="/images/normal/furniture-normal/ti-2.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-3.jpg"><img src="/images/normal/furniture-normal/ti-3.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-4.jpg"><img src="/images/normal/furniture-normal/ti-4.jpg"></a>
	</div>

	<div class="text">
		<h5>Project Summary</h5>
		<p>
			The coffee table balances between two contrasting materials: sleek, incredibly strong titanium, and monolithic 1/2" glass. The design aims to disassociate the bicycle frame from its original intent, extracting the slender curves and purposeful geometry as part of the furniture and not the bicycle.
		</p>
		<p>
			When it comes to TIG welding titanium alloy, it takes incredible control and proper conditions to ensure a strong weld. I only had a handful of hours to practice before welding up the real table, so I tacked the frame pieces together instead of welding the entire bead along the joints. While these initial welds are adequately strong, I look forward to laying down full beads as I improve my welding skill in the future.
		</p>
	</div>

	<div class="container">
		<h5>Abridged Process</h5>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-p1.jpg"><img id="full" img src="/images/normal/furniture-normal/ti-frame.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-p3.jpg"><img src="/images/normal/furniture-normal/ti-p3.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-p4.jpg"><img src="/images/normal/furniture-normal/ti-p4.jpg"></a>		
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-cardboard.jpg"><img src="/images/normal/furniture-normal/ti-cardboard.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-p2.jpg"><img src="/images/normal/furniture-normal/ti-p2.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-p5.jpg"><img src="/images/normal/furniture-normal/ti-p5.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-p6.jpg"><img src="/images/normal/furniture-normal/ti-p6.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-p8.jpg"><img src="/images/normal/furniture-normal/ti-p8.jpg"></a>
		<a data-fancybox="gallery" data-caption="" href="/images/large/furniture-large/ti-p7.jpg"><img src="/images/normal/furniture-normal/ti-p7.jpg"></a>

	</div>

</div>
